/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 300;
        src: local('Ubuntu Light'), local('Ubuntu-Light'), url('./assets/fonts/Ubuntu_Light.woff2') format('woff2');
    }

    @font-face {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 400;
        src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('./assets/fonts/Ubuntu_Normal.woff2') format('woff2');
    }

    @font-face {
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('./assets/fonts/Ubuntu_Medium.woff2') format('woff2');
    }

}
