name: CI

on: [push, pull_request]

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'pnpm'
            - run: pnpm install
            - run: npm run build
            - run: npm run lint
            - run: npm run test:ci
            - run: npm run cy:test
            - name: Upload Cypress screenshots
              uses: actions/upload-artifact@v4
              if: ${{ failure() }}
              with:
                  name: cypress_screenshots
                  path: cypress/screenshots
    deploy:
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        needs: ci
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            ACTIVITYPODS_CLIENT_ID: ${{ secrets.ACTIVITYPODS_CLIENT_ID }}
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'pnpm'
            - run: pnpm install
            - run: echo "VITE_ACTIVITYPODS_CLIENT_ID=$ACTIVITYPODS_CLIENT_ID" > .env
            - run: npm run deploy
